@font-face {
	font-family: 'Route 159';
	font-style: normal;
	font-weight: 300;
	src:
		url(https://cdn.jsdelivr.net/gh/70599/webfonts/Route%20159/Route159-Light.woff2) format('woff2'),
		url(https://cdn.jsdelivr.net/gh/70599/webfonts/Route%20159/Route159-Light.woff) format('woff');
}
