@font-face {
	font-family: 'Route 159';
	font-style: italic;
	font-weight: 600;
	src:
		url(https://cdn.jsdelivr.net/gh/70599/webfonts/Route%20159/Route159-SemiBoldItalic.woff2) format('woff2'),
		url(https://cdn.jsdelivr.net/gh/70599/webfonts/Route%20159/Route159-SemiBoldItalic.woff) format('woff');
}
