@font-face {
	font-family: 'NotoSansSC';
	font-display: swap;
	font-style: normal;
	font-weight: 100;
	src:
		url(NotoSansSC_100-Thin.woff2) format('woff2'),
		url(NotoSansSC_100-Thin.woff) format('woff'),
		url(NotoSansSC_100-Thin.otf) format('opentype');
}
@font-face {
	font-family: 'NotoSansSC';
	font-display: swap;
	font-style: normal;
	font-weight: 300;
	src:
		url(NotoSansSC_300-Light.woff2) format('woff2'),
		url(NotoSansSC_300-Light.woff) format('woff'),
		url(NotoSansSC_300-Light.otf) format('opentype');
}
@font-face {
	font-family: 'NotoSansSC';
	font-display: swap;
	font-style: normal;
	font-weight: 400;
	src:
		url(NotoSansSC_400-Regular.woff2) format('woff2'),
		url(NotoSansSC_400-Regular.woff) format('woff'),
		url(NotoSansSC_400-Regular.otf) format('opentype');
}
@font-face {
	font-family: 'NotoSansSC';
	font-display: swap;
	font-style: normal;
	font-weight: 500;
	src:
		url(NotoSansSC_500-Medium.woff2) format('woff2'),
		url(NotoSansSC_500-Medium.woff) format('woff'),
		url(NotoSansSC_500-Medium.otf) format('opentype');
}
@font-face {
	font-family: 'Noto SansSC';
	font-display: swap;
	font-style: normal;
	font-weight: 700;
	src:
		url(NotoSansSC_700-Bold.woff2) format('woff2'),
		url(NotoSansSC_700-Bold.woff) format('woff'),
		url(NotoSansSC_700-Bold.otf) format('opentype');
}
@font-face {
	font-family: 'NotoSansSC';
	font-display: swap;
	font-style: normal;
	font-weight: 900;
	src:
		url(NotoSansSC_900-Black.woff2) format('woff2'),
		url(NotoSansSC_900-Black.woff) format('woff'),
		url(NotoSansSC_900-Black.otf) format('opentype');
}
