@font-face {
	font-family: 'NotoSansJP';
	font-style: normal;
	font-weight: 700;
	src:
		url(NotoSansJP_700-Bold.woff2) format('woff2'),
		url(NotoSansJP_700-Bold.woff) format('woff'),
		url(NotoSansJP_700-Bold.otf) format('opentype');
}
