@font-face {
	font-family: 'Noto Sans JP';
	font-style: normal;
	font-weight: 500;
	src:
		url(NotoSansJP_500-Medium.woff2) format('woff2'),
		url(NotoSansJP_500-Medium.woff) format('woff'),
		url(NotoSansJP_500-Medium.otf) format('opentype');
}
