@font-face {
	font-family: 'Noto Sans JP';
	font-style: normal;
	font-weight: 100;
	src:
		url(NotoSansJP_100-Thin.woff2) format('woff2'),
		url(NotoSansJP_100-Thin.woff) format('woff'),
		url(NotoSansJP_100-Thin.otf) format('opentype');
}
