@font-face {
	font-family: 'Noto Sans JP';
	font-style: normal;
	font-weight: 900;
	src:
		url(NotoSansJP_900-Black.woff2) format('woff2'),
		url(NotoSansJP_900-Black.woff) format('woff'),
		url(NotoSansJP_900-Black.otf) format('opentype');
}
