@font-face {
	font-family: 'NotoSansJP';
	font-style: normal;
	font-weight: 100;
	src:
		url(https://cdn.jsdelivr.net/gh/70599/webfonts/Noto%20Sans%20JP/NotoSansJP_100-Thin.woff2) format('woff2'),
		url(https://cdn.jsdelivr.net/gh/70599/webfonts/Noto%20Sans%20JP/NotoSansJP_100-Thin.woff) format('woff'),
		url(https://cdn.jsdelivr.net/gh/70599/webfonts/Noto%20Sans%20JP/NotoSansJP_100-Thin.otf) format('opentype');
}
