@font-face {
	font-family: 'NotoSansJP';
	font-style: normal;
	font-weight: 400;
	src:
		url(NotoSansJP_400-Regular.woff2) format('woff2'),
		url(NotoSansJP_400-Regular.woff) format('woff'),
		url(NotoSansJP_400-Regular.otf) format('opentype');
}
