@font-face {
	font-family: 'Noto Sans JP';
	font-style: normal;
	font-weight: 300;
	src:
		url(NotoSansJP_300-Light.woff2) format('woff2'),
		url(NotoSansJP_300-Light.woff) format('woff'),
		url(NotoSansJP_300-Light.otf) format('opentype');
}
