@font-face {
	font-family: 'Noto Sans JP';
	font-style: normal;
	font-weight: 100;
	src:
		url(NotoSansJP_100-Thin.woff2) format('woff2'),
		url(NotoSansJP_100-Thin.woff) format('woff'),
		url(NotoSansJP_100-Thin.otf) format('opentype');
}
@font-face {
	font-family: 'Noto Sans JP';
	font-style: normal;
	font-weight: 300;
	src:
		url(NotoSansJP_300-Light.woff2) format('woff2'),
		url(NotoSansJP_300-Light.woff) format('woff'),
		url(NotoSansJP_300-Light.otf) format('opentype');
}
@font-face {
	font-family: 'Noto Sans JP';
	font-style: normal;
	font-weight: 400;
	src:
		url(NotoSansJP_400-Regular.woff2) format('woff2'),
		url(NotoSansJP_400-Regular.woff) format('woff'),
		url(NotoSansJP_400-Regular.otf) format('opentype');
}
@font-face {
	font-family: 'Noto Sans JP';
	font-style: normal;
	font-weight: 500;
	src:
		url(NotoSansJP_500-Medium.woff2) format('woff2'),
		url(NotoSansJP_500-Medium.woff) format('woff'),
		url(NotoSansJP_500-Medium.otf) format('opentype');
}
@font-face {
	font-family: 'Noto Sans JP';
	font-style: normal;
	font-weight: 700;
	src:
		url(NotoSansJP_700-Bold.woff2) format('woff2'),
		url(NotoSansJP_700-Bold.woff) format('woff'),
		url(NotoSansJP_700-Bold.otf) format('opentype');
}
@font-face {
	font-family: 'Noto Sans JP';
	font-style: normal;
	font-weight: 900;
	src:
		url(NotoSansJP_900-Black.woff2) format('woff2'),
		url(NotoSansJP_900-Black.woff) format('woff'),
		url(NotoSansJP_900-Black.otf) format('opentype');
}
