@font-face {
  font-family: 'namarin';
  src:
	  url(https://cdn.rawgit.com/70599/webfonts/67bae5f1/projects/namarin/namarin.woff2) format('woff2'),
	  url(https://cdn.rawgit.com/70599/webfonts/67bae5f1/projects/namarin/namarin.woff) format('woff'),
	  url(https://cdn.rawgit.com/70599/webfonts/67bae5f1/projects/namarin/namarin.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

