@font-face {
	font-family: 'azuki';
	font-style: normal;
	font-weight: 400;
	src: url(./azukiLP.woff2) format('woff2'),
	     url(./azukiLP.woff) format('woff'),
	     url(./azukiLP.ttf) format('truetype');
}
