@font-face {
	font-family: 'azuki';
	font-style: normal;
	font-weight: 400;
	src: url(https://cdn.rawgit.com/70599/webfonts/ca80188d/handwriting/azuki/azukiLP.woff2) format('woff2'),
	     url(https://cdn.rawgit.com/70599/webfonts/ca80188d/handwriting/azuki/azukifontLP.woff) format('woff'),
	     url(https://cdn.rawgit.com/70599/webfonts/ca80188d/handwriting/azuki/azukiLP.ttf) format('truetype');
}
