@font-face {
	font-family: 'azuki';
	font-style: normal;
	font-weight: 400;
	src: url(https://cdn.jsdelivr.net/gh/70599/webfonts@ca80188d1c74e28d93d96d8132a78cebeb45d0fa/handwriting/azuki/azukiLP.woff2) format('woff2'),
	     url(https://cdn.jsdelivr.net/gh/70599/webfonts@ca80188d1c74e28d93d96d8132a78cebeb45d0fa/handwriting/azuki/azukiLP.woff) format('woff'),
	     url(https://cdn.jsdelivr.net/gh/70599/webfonts@ca80188d1c74e28d93d96d8132a78cebeb45d0fa/handwriting/azuki/azukiLP.ttf) format('truetype');
}
