/* 
 * https://github.com/chrismsimpson/Metropolis
 */

@font-face {
  font-family: 'Metropolis';
  font-style:  normal;
  font-weight: 100;
  font-display: swap;
  src: url("WOFF2/Metropolis-Thin.woff2") format("woff2"),
       url("WOFF/Metropolis-Thin.woff") format("woff");
}
@font-face {
  font-family: 'Metropolis';
  font-style:  italic;
  font-weight: 100;
  font-display: swap;
  src: url("WOFF2/Metropolis-ThinItalic.woff2") format("woff2"),
       url("WOFF/Metropolis-ThinItalic.woff") format("woff");
}

@font-face {
  font-family: 'Metropolis';
  font-style:  normal;
  font-weight: 200;
  font-display: swap;
  src: url("WOFF2/Metropolis-ExtraLight.woff2") format("woff2"),
       url("WOFF/Metropolis-ExtraLight.woff") format("woff");
}
@font-face {
  font-family: 'Metropolis';
  font-style:  italic;
  font-weight: 200;
  font-display: swap;
  src: url("WOFF2/Metropolis-ExtraLightItalic.woff2") format("woff2"),
       url("WOFF/Metropolis-ExtraLightItalic.woff") format("woff");
}

@font-face {
  font-family: 'Metropolis';
  font-style:  normal;
  font-weight: 300;
  font-display: swap;
  src: url("WOFF2/Metropolis-Light.woff2") format("woff2"),
       url("WOFF/Metropolis-Light.woff") format("woff");
}
@font-face {
  font-family: 'Metropolis';
  font-style:  italic;
  font-weight: 300;
  font-display: swap;
  src: url("WOFF2/Metropolis-LightItalic.woff2") format("woff2"),
       url("WOFF/Metropolis-LightItalic.woff") format("woff");
}

@font-face {
  font-family: 'Metropolis';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src: url("WOFF2/Metropolis-Regular.woff2") format("woff2"),
       url("WOFF/Metropolis-Regular.woff") format("woff");
}
@font-face {
  font-family: 'Metropolis';
  font-style:  italic;
  font-weight: 400;
  font-display: swap;
  src: url("WOFF2/Metropolis-Italic.woff2") format("woff2"),
       url("WOFF/Metropolis-Italic.woff") format("woff");
}

@font-face {
  font-family: 'Metropolis';
  font-style:  normal;
  font-weight: 500;
  font-display: swap;
  src: url("WOFF2/Metropolis-Medium.woff2") format("woff2"),
       url("WOFF/Metropolis-Medium.woff") format("woff");
}
@font-face {
  font-family: 'Metropolis';
  font-style:  italic;
  font-weight: 500;
  font-display: swap;
  src: url("WOFF2/Metropolis-MediumItalic.woff2") format("woff2"),
       url("WOFF/Metropolis-MediumItalic.woff") format("woff");
}

@font-face {
  font-family: 'Metropolis';
  font-style:  normal;
  font-weight: 600;
  font-display: swap;
  src: url("WOFF2/Metropolis-SemiBold.woff2") format("woff2"),
       url("WOFF/Metropolis-SemiBold.woff") format("woff");
}
@font-face {
  font-family: 'Metropolis';
  font-style:  italic;
  font-weight: 600;
  font-display: swap;
  src: url("WOFF2/Metropolis-SemiBoldItalic.woff2") format("woff2"),
       url("WOFF/Metropolis-SemiBoldItalic.woff") format("woff");
}

@font-face {
  font-family: 'Metropolis';
  font-style:  normal;
  font-weight: 700;
  font-display: swap;
  src: url("WOFF2/Metropolis-Bold.woff2") format("woff2"),
       url("WOFF/Metropolis-Bold.woff") format("woff");
}
@font-face {
  font-family: 'Metropolis';
  font-style:  italic;
  font-weight: 700;
  font-display: swap;
  src: url("WOFF2/Metropolis-BoldItalic.woff2") format("woff2"),
       url("WOFF/Metropolis-BoldItalic.woff") format("woff");
}

@font-face {
  font-family: 'Metropolis';
  font-style:  normal;
  font-weight: 800;
  font-display: swap;
  src: url("WOFF2/Metropolis-ExtraBold.woff2") format("woff2"),
       url("WOFF/Metropolis-ExtraBold.woff") format("woff");
}
@font-face {
  font-family: 'Metropolis';
  font-style:  italic;
  font-weight: 800;
  font-display: swap;
  src: url("WOFF2/Metropolis-ExtraBoldItalic.woff2") format("woff2"),
       url("WOFF/Metropolis-ExtraBoldItalic.woff") format("woff");
}

@font-face {
  font-family: 'Metropolis';
  font-style:  normal;
  font-weight: 900;
  font-display: swap;
  src: url("WOFF2/Metropolis-Black.woff2") format("woff2"),
       url("WOFF/Metropolis-Black.woff") format("woff");
}
@font-face {
  font-family: 'Metropolis';
  font-style:  italic;
  font-weight: 900;
  font-display: swap;
  src: url("WOFF2/Metropolis-BlackItalic.woff2") format("woff2"),
       url("WOFF/Metropolis-BlackItalic.woff") format("woff");
}
