@font-face {
	font-family: 'Mplus 1p';
	font-style: normal;
	font-weight: 700;
	src:
		url(./Mplus1p_700-Bold.woff2) format('woff2'),
		url(./Mplus1p_700-Bold.woff) format('woff'),
		url(./Mplus1p_700-Bold.ttf) format('truetype');
}
