@font-face {
	font-family: 'Mplus 1p';
	font-style: normal;
	font-weight: 800;
	src:
		url(https://cdn.jsdelivr.net/gh/70599/webfonts/M%2B%201p/Mplus1p_800-ExtraBold.woff2) format('woff2'),
		url(https://cdn.jsdelivr.net/gh/70599/webfonts/M%2B%201p/Mplus1p_800-ExtraBold.woff) format('woff'),
		url(https://cdn.jsdelivr.net/gh/70599/webfonts/M%2B%201p/Mplus1p_800-ExtraBold.ttf) format('truetype');
}
