@font-face {
	font-family: 'Noto Serif JP';
	font-style: normal;
	font-weight: 100;
	src:
		url(https://cdn.rawgit.com/jdh8/source-han-serif/f214d58c/SourceHanSerifJP-ExtraLight.woff2) format('woff2'),
		url(https://cdn.rawgit.com/jdh8/source-han-serif/f214d58c/SourceHanSerifJP-ExtraLight.woff) format('woff'),
		url(https://cdn.rawgit.com/jdh8/source-han-serif/f214d58c/SourceHanSerifJP-ExtraLight.otf) format('opentype');
}
@font-face {
	font-family: 'Noto Serif JP';
	font-style: normal;
	font-weight: 300;
	src:
		url(https://cdn.rawgit.com/jdh8/source-han-serif/f214d58c/SourceHanSerifJP-Light.woff2) format('woff2'),
		url(https://cdn.rawgit.com/jdh8/source-han-serif/f214d58c/SourceHanSerifJP-Light.woff) format('woff'),
		url(https://cdn.rawgit.com/jdh8/source-han-serif/f214d58c/SourceHanSerifJP-Light.otf) format('opentype');
}
@font-face {
	font-family: 'Noto Serif JP';
	font-style: normal;
	font-weight: 400;
	src:
		url(https://cdn.rawgit.com/jdh8/source-han-serif/f214d58c/SourceHanSerifJP-Regular.woff2) format('woff2'),
		url(https://cdn.rawgit.com/jdh8/source-han-serif/f214d58c/SourceHanSerifJP-Regular.woff) format('woff'),
		url(https://cdn.rawgit.com/jdh8/source-han-serif/f214d58c/SourceHanSerifJP-Regular.otf) format('opentype');
}
@font-face {
	font-family: 'Noto Serif JP';
	font-style: normal;
	font-weight: 500;
	src:
		url(https://cdn.rawgit.com/jdh8/source-han-serif/f214d58c/SourceHanSerifJP-Medium.woff2) format('woff2'),
		url(https://cdn.rawgit.com/jdh8/source-han-serif/f214d58c/SourceHanSerifJP-Medium.woff) format('woff'),
		url(https://cdn.rawgit.com/jdh8/source-han-serif/f214d58c/SourceHanSerifJP-Medium.otf) format('opentype');
}
@font-face {
	font-family: 'Noto Serif JP';
	font-style: normal;
	font-weight: 600;
	src:
		url(https://cdn.rawgit.com/jdh8/source-han-serif/f214d58c/SourceHanSerifJP-SemiBold.woff2) format('woff2'),
		url(https://cdn.rawgit.com/jdh8/source-han-serif/f214d58c/SourceHanSerifJP-SemiBold.woff) format('woff'),
		url(https://cdn.rawgit.com/jdh8/source-han-serif/f214d58c/SourceHanSerifJP-SemiBold.otf) format('opentype');
}
@font-face {
	font-family: 'Noto Serif JP';
	font-style: normal;
	font-weight: 700;
	src:
		url(https://cdn.rawgit.com/jdh8/source-han-serif/f214d58c/SourceHanSerifJP-Bold.woff2) format('woff2'),
		url(https://cdn.rawgit.com/jdh8/source-han-serif/f214d58c/SourceHanSerifJP-Bold.woff) format('woff'),
		url(https://cdn.rawgit.com/jdh8/source-han-serif/f214d58c/SourceHanSerifJP-Bold.otf) format('opentype');
}
@font-face {
	font-family: 'Noto Serif JP';
	font-style: normal;
	font-weight: 900;
	src:
		url(https://cdn.rawgit.com/jdh8/source-han-serif/f214d58c/SourceHanSerifJP-Heavy.woff2) format('woff2'),
		url(https://cdn.rawgit.com/jdh8/source-han-serif/f214d58c/SourceHanSerifJP-Heavy.woff) format('woff'),
		url(https://cdn.rawgit.com/jdh8/source-han-serif/f214d58c/SourceHanSerifJP-Heavy.otf) format('opentype');
}
